@font-face {
      font-family: "PPArandir Bold";
      src: url("fonts/PPAgrandir-Bold.woff");
}

@font-face {
      font-family: "PPFuji Bold";
      src: url("fonts/PPFuji-Bold.woff");
}

@font-face {
      font-family: "PPGosha Sans";
      src: url("fonts/PPGoshaSans-Bold.woff");
}

@font-face {
      font-family: "Neue Machina Ultra";
      src: url("fonts/PPNeueMachina-PlainUltrabold.otf");
      font-weight: 900;
}

@font-face {
      font-family: "hk grotesk";
      src: url("fonts/hk-grotesk.woff2"), url("fonts/hk-grotesk.woff");
}

body {
      margin: 0;
      padding: 0;
      line-height: 1.25;
      color: #333333;

}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

header {
      position: fixed;
      top: 36px;
      left: 36px;
      z-index: 1;
}

h1 {
      font-family: "PPArandir Bold";
      font-weight: 800;
      font-size: 1rem;


}

div {
      font-family: "PPGosha Sans";

}